*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper{
    width: 200px;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data{
    height: 55px;
    width: 100px;
    position: relative;
}

.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}
.title{
    position: absolute;
    top: 10%;
    left: 5%;
    color: blue;
    padding: 5px 20px;
    border: 3px solid #0000ff;
    background-color:papayawhip;

}

.button{
    position: absolute;
    top: 80%;
    left: 80%;
    color: blue;
    padding: 5px 35px;
    border: 5px solid #0000ff;
    background-color: peachpuff;
}
