{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Student Performance Monitoring System (SPMS)</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href=" {% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href=" {% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <style>
      table{
        width: 100%;
        border: 4px solid blue;
        border-collapse: separate;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
      }
      th, td {
        border: 2px solid rgb(139, 8, 8);
        border-radius: 4px;
      }
      .PLOHeader{
        width: 35%;
      }
      tr:hover {background-color: rgba(255, 197, 88, 0.767);}
      th {
        background-color: #00b60f;
        color: white;
      }
      .crd1{
        background-color: rgb(154, 240, 255);
      }
      .crdh1{
        background-color: #0054f0;
      }
      .crd2{
        background-color: #c3ffcc;
      }
      .crdh2{
        background-color: #008a17;
      }
      .crd3{
        background-color: rgb(245, 204, 255);
      }
      .crdh3{
        background-color: rgb(124, 0, 161);
      }
      .crd4{
        background-color: rgb(255, 218, 176);
      }
      .crdh4{
        background-color: rgb(150, 97, 0);
      }
      hr.solid {
        border-top: 5px solid rgb(255, 255, 255);
      }
    </style>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        
        <div
          class="img bg-wrap text-center py-4"
          style="background-image: url('{% static "images/bg.jpg"%}')"
        >
          <div class="user-logo">
            <div
              class="img"
              style="background-image: url('{% static "images/faculty.jpg"%}')"
            ></div>
            <h3 class="bg-dark">Md. Abu Sayed
            </h3>
          </div>
        </div>
        <ul class="list-unstyled components mb-5">
          <li class="">
            <a href="{%url 'facultyDash'%}"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="{%url 'facultyData'%}"
              ><span class="fa fa-download mr-3 notif">
                </span>
              Assessment Hub
            </a>
          </li>
          
          <li>
            <a href="{%url 'facultyStudentReport'%}"><span class="fa fa-gift mr-3"></span>Student Performance Report</a>
          </li>
          
          <li>
            <a href="#"><span class="fa fa-cog mr-3"></span>Account Settings</a>
          </li>          
          <li>
            <a  href="{%url 'logIn'%}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
       {%block content%}
       {%endblock content%}
    </div>   
  </body>
  <script>
    function coMap() {
      var text = document.getElementById("coNumber").value;
      var b = parseInt(text);
      var htmlElements = "";
      for (var i = 0; i < b; i++) {
        htmlElements += `
        <div class="d-flex justify-content-between">
          <input
            class="form-control mr-2 mb-3"
            type="text"
            placeholder="Enter the CO Number"
          />
          <input
            class="form-control ml-2 mb-3"
            type="text"
            placeholder="Enter the Associated PLO Numbers"
          />
        </div>
        `;        
      }
      htmlElements += `
        <div class="d-flex justify-content-end">
                <button
                  class="rounded mt-3 btn-success pl-5 pr-5 pt-1 pb-1"
                  id="coGet"                  
                  ;
                  return
                  false;
                >
                  Submit
                </button>
              </div>
      `
      var container = document.getElementById("mapSpace");
      container.innerHTML = htmlElements;      
    }

    function studentsCreate() {
      var stdnts = document.getElementById("totalStudents").value;
      var qs = document.getElementById("totalQuestions").value;
      var s = parseInt(stdnts);
      var q = parseInt(qs);
      var htmlElements = "";
      for (var i = 0; i < s; i++) {
        htmlElements += `
        <div class="mt-4"> 
          <h7 class="mr-1 text-white">Student ${i+1}:</h7>       
          <input
            class="form-control"
            type="text"
            placeholder="Enter the Student ID"
          />
        </div>
        `;
        for (var j = 0; j < q; j++) {
          htmlElements += `
          <div class="d-flex justify-content-between mt-1">
            <h6 class="mr-1 mt-3 text-white">Question${j+1}:</h6>
            <input class="form-control mr-1 ml-1 mt-2" type="text" placeholder="Marks Achieved in the Question" />            
          </div>
          `;
        }
      }
      htmlElements += `
        <div class="d-flex justify-content-end">
                <button
                  class="rounded mt-3 btn-success pl-5 pr-5 pt-1 pb-1"
                  id="coGet"                  
                  ;
                  return
                  false;
                >
                  Submit
                </button>
                
              </div>
      `
      var container = document.getElementById("studentSpace");
      container.innerHTML = htmlElements;      
    }


    function qCreate() {
      var text = document.getElementById("totalQuestions").value;
      var b = parseInt(text);
      var htmlElements = "";
      for (var i = 0; i < b; i++) {
        htmlElements += `
        <h6 class="mr-1 mt-1 text-white">Qustion ${i+1}:</h6>
        <div class="d-flex justify-content-between">
          <input
            class="form-control mr-2 mb-3"
            type="text"
            placeholder="Enter the Total Marks"
          />
          <input
            class="form-control ml-2 mb-3"
            type="text"
            placeholder="Enter the CO Number"
          />
          <select class="form-control h-100 ml-3 mb-3">
                      <option>Select % Threshold</option>
                      <option>20%</option>
                      <option>25%</option>
                      <option>30%</option>
                      <option>35%</option>
                      <option>40%</option>
                      <option>45%</option>
                      <option>50%</option>
                      <option>55%</option>
                      <option>60%</option>
                      <option>65%</option>
                    </select>
        </div>
        `;        
      }
      htmlElements += `
        <div class="d-flex justify-content-end">
                <button
                  class="rounded mt-3 btn-success pl-5 pr-5 pt-1 pb-1"
                  id="coGet"                  
                  ;
                  return
                  false;
                >
                  Submit
                </button>
              </div>
      `
      var container = document.getElementById("qSpace");
      container.innerHTML = htmlElements;      
    }

    function sReport() {
            
      var htmlElements = `
      <div id="booking" class="section">
        <div class="section-center">
          <div class="container">
            <div class="row">
              <div class="booking-form container-fluid w-75 pt-5 pb-1">
                <h3 class="text-white font-weight-bold">
                  Marks of the selected Student in each PLO compared to the course
                  average
                </h3>
              </div>
              <div class="container-fluid w-75 bg-white rounded">
                <canvas id="y" width="20" height="10"> </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="booking" class="section">
        <div class="section-center">
          <div class="container">
            <div class="row">
              <div class="booking-form container-fluid w-75 pt-5 pb-1">
                <h3 class="text-white font-weight-bold">Performance in each PLO</h3>
              </div>
              <div class="container-fluid w-75 bg-white rounded mb-5">
                <table class="mt-3 mb-3">
                  <thead>
                    <tr>
                      <th rowspan="2" colspan="2" class="PLOHeader">PLOs</th>
                      <th colspan="3">Courses</th>
                    </tr>
                    <tr>
                      <th>CSE101</th>
                      <th>CSE203</th>
                      <th>CSE303</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">PLO1</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                      <td>Failed</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>89</td>
                      <td>75</td>
                      <td>33</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO2</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Failed</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>88</td>
                      <td>41</td>
                      <td>77</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO3</td>
                      <td>Acheivement Status</td>
                      <td>Failed</td>
                      <td>Failed</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>15</td>
                      <td>44</td>
                      <td>96</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO4</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>78</td>
                      <td>85</td>
                      <td>93</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO5</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Failed</td>
                      <td>Failed</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>87</td>
                      <td>42</td>
                      <td>27</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO6</td>
                      <td>Acheivement Status</td>
                      <td>Failed</td>
                      <td>Failed</td>
                      <td>Failed</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>24</td>
                      <td>45</td>
                      <td>39</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO7</td>
                      <td>Acheivement Status</td>
                      <td>Failed</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>11</td>
                      <td>67</td>
                      <td>76</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO8</td>
                      <td>Acheivement Status</td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO9</td>
                      <td>Acheivement Status</td>
                      <td>Failed</td>
                      <td>Failed</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>33</td>
                      <td>09</td>
                      <td>65</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO10</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>66</td>
                      <td>85</td>
                      <td>77</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO11</td>
                      <td>Acheivement Status</td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO12</td>
                      <td>Acheivement Status</td>
                      <td>Achieved</td>
                      <td>Failed</td>
                      <td>Failed</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>93</td>
                      <td>41</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <td rowspan="2">PLO13</td>
                      <td>Acheivement Status</td>
                      <td>Failed</td>
                      <td>Failed</td>
                      <td>Achieved</td>
                    </tr>
                    <tr>
                      <td>Percentage Achieved</td>
                      <td>05</td>
                      <td>42</td>
                      <td>53</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      

      `;
      var container = document.getElementById("sr");
      container.innerHTML = htmlElements;

      const studentPloPerCourse = document.getElementById("y");
        if (studentPloPerCourse != null) {
          let PloPerCourse = studentPloPerCourse.getContext("2d");
          let chart3 = new Chart(PloPerCourse, {
            type: "bar",
            data: {
              labels: [
                "PLO01",
                "PLO02",
                "PLO03",
                "PLO04",
                "PLO05",
                "PLO06",
                "PLO07",
                "PLO08",
                "PLO09",
                "PLO10",
                "PLO11",
                "PLO12",
                "PLO13",
              ],
              datasets: [
                {
                  label: "Mark of Student in each PLO",
                  data: [91, 58, 54, 94, 24, 76, 35, 42, 95, 75, 38, 54, 75],
                  backgroundColor: ["orange"],
                  hoverBorderWidth: 2,
                  hoverBorderColor: "black",
                },
                {
                  label: "Average mark of all Students in the selected course",
                  data: [88, 75, 63, 75, 55, 73, 44, 66, 79, 71, 43, 61, 55],
                  backgroundColor: ["blue"],
                  hoverBorderWidth: 2,
                  hoverBorderColor: "black",
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: "top",
                },
                title: {
                  display: true,
                  text: "Marks in each PLO of the selected Student",
                },
              },
            },
          });
        }


        
      }
  </script>
  {% include "facultyDashChartScripts.html" %}
</html>
