{% extends 'base.html'%} {%block content%}

<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container w-50">
        <div>
          <div class="form-header mt-3 pt-2">
            <h2 class="text-white d-flex font-weight-bold">
              Student Performance Summary
            </h2>
          </div>
          <div class="form-group mt-3">
            <h5 class="form-label text-white">Student ID:</h5>
            <input
              class="form-control"
              type="text"
              placeholder="Enter the ID number of Student"
              name="studentID"
            />

            <div class="d-flex justify-content-end">
              <button
                class="rounded mt-3 btn-primary pl-5 pr-5 pt-1 pb-1"
                id=""
                onclick="sReport()"
                ;
                return
                false;
              >
                GO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sr"></div>
</div>

{%endblock content%}
