{% extends 'base.html'%} {%block content%}

<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form container-fluid w-75">
            <div class="form-header mt-4">
              <h2 class="text-white font-weight-bold">Assesment Details</h2>
            </div>
            <form>
              <div class="row mb-2">
                <div class="container-fluid">
                  <div class="form-group">
                    <h5 class="form-label text-white">Course:</h5>
                    <select class="form-control h-100">
                      <option>CSE101</option>
                      <option>CSE203</option>
                      <option>CSE303</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h5 class="form-label text-white">Section:</h5>
                <select class="form-control h-100">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                </select>
              </div>

              <div class="form-group mt-4">
                <h5 class="form-label text-white">Assessment Type:</h5>
                <select class="form-control h-100">
                  <option>Quiz</option>
                  <option>Midterm</option>
                  <option>Final</option>
                  <option>Assignment</option>
                </select>
              </div>

              <div class="d-flex justify-content-end">
                <button class="rounded mt-1 btn-primary pl-5 pr-5 pt-1 pb-1">
                  Submit
                </button>
              </div>
            </form>

            <div>
              <div class="form-header mt-5 pt-2">
                <h2 class="text-white d-flex font-weight-bold">
                  PLO-CO Mapping for the Assessment
                </h2>
              </div>
              <div class="form-group mt-3">
                <h5 class="form-label text-white">Total COs to be mapped:</h5>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter the total number of COs"
                  id="coNumber"
                />
                <div class="d-flex justify-content-end">
                  <button
                    class="rounded mt-3 btn-primary pl-5 pr-5 pt-1 pb-1"
                    id="coGet"
                    onclick="coMap()"
                    ;
                    return
                    false;
                  >
                    GO
                  </button>
                </div>
              </div>
              <div class="" id="mapSpace"></div>
            </div>

            <div>
              <div class="form-header mt-5">
                <h2 class="text-white d-flex font-weight-bold">
                  Assessment Performance of Each Student
                </h2>
              </div>
              <div class="form-group mt-2">
                <h5 class="form-label text-white">Total Students:</h5>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter the total number of students"
                  id="totalStudents"
                />
              </div>
              <div class="form-group mt-4">
                <h5 class="form-label text-white">Number Of Questions:</h5>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter the number of questions"
                  id="totalQuestions"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  class="rounded mt-1 btn-primary pl-5 pr-5 pt-1 pb-1"
                  id="coGet"
                  onclick="studentsCreate()"
                  ;
                  return
                  false;
                >
                  GO
                </button>
              </div>
            </div>
            <div class="mb-5" id="studentSpace"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
