{% extends 'base.html'%} {%block content%}

<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div
            class="
              booking-form
              container-fluid
              w-75
              d-flex
              justify-content-center
              mt-3
            "
          >
            <div class="card-deck mt-5 mb-5 w-100">
              <div class="card crd1 text-center">
                <div class="card-header crdh1 text-light">
                  Success Rate of All Courses
                </div>
                <div class="card-body">
                  <h2 class="card-text">87%</h2>
                </div>
              </div>
              <div class="card crd2 text-center">
                <div class="card-header crdh2 text-light">
                  Number of PLO Taught
                </div>
                <div class="card-body">
                  <h2 class="card-text">08</h2>
                </div>
              </div>
              <div class="card text-center crd3">
                <div class="card-header crdh3 text-light">
                  Number of Coursess
                </div>
                <div class="card-body">
                  <h2 class="card-text">02</h2>
                </div>
              </div>
              <div class="card text-center crd4">
                <div class="card-header crdh4 text-light">
                  Number of Sections
                </div>
                <div class="card-body">
                  <h2 class="card-text">05</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid w-75 bg-white rounded">
            <canvas id="a" width="20" height="10"> </canvas>
          </div>
        </div>
        <div class="row mb-5">
          <div class="container-fluid w-75 bg-white rounded mt-5">
            <canvas id="b" width="20" height="10"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
