{% extends 'base.html'%} {%block content%}

<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div
            class="
              booking-form
              container-fluid
              w-75
              d-flex
              justify-content-center
            "
          >
            <h1 class="text-white">PLO Progress of CSE</h1>
          </div>
          <div class="container-fluid w-75 bg-white rounded">
            <canvas id="a" width="20" height="10"> </canvas>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid w-75 bg-white rounded mt-5">
            <canvas id="b" width="20" height="10"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
