{% extends 'base.html'%} {%block content%}

<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form container-fluid w-75">
            <div class="form-header mt-4">
              <h1 class="text-white d-flex justify-content-center">
                Assesment Details:
              </h1>
            </div>
            <form>
              <div class="row mb-2">
                <div class="container-fluid">
                  <div class="form-group">
                    <h5 class="form-label text-white">Course:</h5>
                    <select class="form-control">
                      <option>CSE101</option>
                      <option>CSE203</option>
                      <option>CSE303</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h5 class="form-label text-white">Section:</h5>
                <select class="form-control">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                </select>
              </div>
              <div class="form-group mt-4">
                <h5 class="form-label text-white">Number Of Questions:</h5>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter the number of questions"
                />
              </div>
              <div class="form-group mt-4">
                <h5 class="form-label text-white">Total Students:</h5>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter the total number of students"
                />
              </div>
              <div class="form-group mt-4">
                <h5 class="form-label text-white">Assessment Type:</h5>
                <select class="form-control">
                  <option>Quiz</option>
                  <option>Midterm</option>
                  <option>Final</option>
                  <option>Assignment</option>
                </select>
              </div>

              <div class="form-btn mt-5">
                <button class="submit-btn rounded">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
