{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Student Performance Monitoring System (SPMS)</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href=" {% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href=" {% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css'%}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
    </style>
    
  </head>

  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        
        <div
          class="img bg-wrap text-center py-4"
          style="background-image: url('{% static "images/bg.jpg"%}')"
        >
          <div class="user-logo">
            <div
              class="img"
              style="background-image: url('{% static "images/blank.png"%}')"
            ></div>
            <h3 class="bg-dark">Higher Management
            </h3>
          </div>
        </div>
        <ul class="list-unstyled components mb-5">
          <li class="">
            <a href=" {%url 'hmHome'%}"><span class="fa fa-home mr-3"></span> School-Wise Performance</a>
          </li>
          <li>
            <a href="{%url 'hmUniversity'%}"><span class="fa fa-trophy mr-3"></span>University-Wise Performance</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cog mr-3"></span>Account Settings</a>
          </li>          
          <li>
            <a  href="{%url 'logIn'%}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
       {%block hm%}
       {%endblock hm%}
    </div>   
  </body>
  <script>
    function school() {      
      var htmlElements = "";
      htmlElements+=`
            <div class="container-fluid bg-white rounded mt-5">
              <canvas id="s" width="20" height="10"> </canvas>
            </div>
      `;     
      
      var container = document.getElementById("schoolChart");
      container.innerHTML = htmlElements;       

    


    Chart.defaults.font.family = "Lato";
    Chart.defaults.font.size = 20;
    Chart.defaults.font.color = "Black";
    
    const ch2 = document.getElementById("s");
    console.log(ch2);
    if (ch2 != null) {      
      let chh = ch2.getContext("2d");
      let Chart2 = new Chart(chh, {
        type: "bar",
        data: {
          labels: [
            "PLO01",
            "PLO02",
            "PLO03",
            "PLO04",
            "PLO05",
            "PLO06",
            "PLO07",
            "PLO08",
            "PLO09",
            "PLO10",
            "PLO11",
            "PLO12",
            "PLO13",
          ],
          datasets: [
            {
              label: "Attempted",
              data: [
                589, 521, 622, 344, 366, 522, 434, 912, 412, 552, 253, 831, 743,
              ],
              backgroundColor: "red",
              hoverBorderWidth: 5,
              hoverBorderColor: "black",
            },
            {
              label: "Achieved",
              data: [
                450, 456, 255, 189, 299, 511, 400, 788, 122, 444, 119, 666, 733,
              ],
              backgroundColor: "blue",
              hoverBorderWidth: 5,
              hoverBorderColor: "black",
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Number of Students who Attempted v/s Achieved each PLO for selected School",
            },
          },
          responsive: true,
          scales: {
            x: {
              stacked: true,
            },
            y: {
              stacked: true,
            },
          },
        },
      });
    }
  }
  </script>
  {% include "hmChartScripts.html" %}
</html>
