<script>
  Chart.defaults.font.family = "Lato";
  Chart.defaults.font.size = 20;
  Chart.defaults.font.color = "Black";

  const ch3 = document.getElementById("t");
  if (ch3 != null) {
    let ch33 = ch3.getContext("2d");
    let Chart3 = new Chart(ch33, {
      type: "radar",
      data: {
        labels: [
          "CSE",
          "BBA",
          "EEE",
          "ENV",
          "Pharmacy",
          "LLB",
          "BioChemistry",
          "MicroBiology",
          "Eng. Lit",
        ],
        datasets: [
          {
            label: "IUB",
            data: [898, 747, 171, 877, 724, 455, 549, 1098, 856],
            borderColor: "red",
            backgroundColor: "rgba(255, 63, 63, 0.1)",
          },
          {
            label: "NSU",
            data: [885, 665, 459, 855, 777, 885, 1285, 269, 485],
            borderColor: "blue",
            backgroundColor: "rgba(50, 53, 255, 0.1)",
          },
          {
            label: "EWU",
            data: [747, 354, 1074, 1300, 471, 782, 444, 682, 452],
            borderColor: "rgba(0, 200, 5)",
            backgroundColor: "rgba(0, 200, 5, 0.1)",
          },
          {
            label: "AIUB",
            data: [174, 517, 749, 638, 578, 681, 1280, 652, 547],
            borderColor: "rgba(186, 0, 184)",
            backgroundColor: "rgba(186, 0, 184, 0.1)",
          },
          {
            label: "UIU",
            data: [934, 665, 374, 58, 371, 102, 696, 999, 1222],
            borderColor: "rgba(155, 0, 81)",
            backgroundColor: "rgba(155, 0, 81, 0.1)",
          },
          {
            label: "BRACU",
            data: [885, 471, 342, 471, 898, 1111, 234, 141, 988],
            borderColor: "rgba(0, 170, 149)",
            backgroundColor: "rgba(0, 170, 149, 0.1)",
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: "PLO Achievement by Number of Students in Each Major",
            font: {
              size: 30,
            },
          },
        },
        scales: {
          r: {
            pointLabels: {
              font: {
                size: 20,
              },
            },
          },
        },
      },
    });
  }
</script>
