{% extends 'hmBase.html'%} {%block hm%}
<div id="content" class="container-fluid bg-dark">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form container-fluid w-75">
            <div class="form-header mt-4">
              <h2 class="text-white font-weight-bold mb-3">
                University-Wise Performance
              </h2>
            </div>

            <div class="container-fluid bg-white rounded mt-5 mb-5">
              <canvas id="t" width="20" height="10"> </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock hm%}
