{% extends 'studentBase.html'%} {%block student%}
<div id="content" class="container-fluid bg-dark pr-5">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="row">
        <div
          class="
            booking-form
            container-fluid
            w-75
            d-flex
            justify-content-center
          "
        >
          <div class="card-deck mt-5 mb-5 w-100">
            <div class="card crd1 text-center">
              <div class="card-header crdh1 text-light">
                Number of PLOs Attempted
              </div>
              <div class="card-body">
                <h2 class="card-text">10</h2>
              </div>
            </div>
            <div class="card crd2 text-center">
              <div class="card-header crdh2 text-light">
                Number of PLOs Achieved
              </div>
              <div class="card-body">
                <h2 class="card-text">08</h2>
              </div>
            </div>
            <div class="card text-center crd3">
              <div class="card-header crdh3 text-light">CGPA</div>
              <div class="card-body">
                <h2 class="card-text">3.78</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock student%}
