{% extends 'studentBase.html'%} {%block student%}
<div id="content" class="container-fluid bg-dark pr-5">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="row">
        <div
          class="
            booking-form
            container-fluid
            w-75
            d-flex
            justify-content-center
          "
        >
          <h1 class="text-white">Student UI Here!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock student%}
